body {
  background-color: rgb(165, 163, 163);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;

}

#resultados {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.estudiante_contenedor {
  padding: 20px;
  width: 100%;
}

.estudiante {
  margin-top: 10px;
    border: 1px solid black;
    padding: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  text-transform: uppercase;
}

button:hover {
  background-color: darkgreen;
  cursor: pointer;
}

.botton_eliminar{
  background-color: red;
  margin: 10px;
}

.botton_eliminar:hover{
  background-color: darkred;
}